{% extends "base.html" %}
{% block title %}Activation rejected{% endblock %}
{% block metadescription%}Activation rejected{% endblock metadescription %}

{% block header %}
{% endblock %}

{% block content %}
{% load static %}   

<div id="page-logout" class="page">
<div id="content" class="login-signup">
<div class="form-top">
<img src="{% static 'assets/css/images/game-icon.png' %}" alt="Logo" class="logo-form" />
<h1>World Games</h1>
</div>

<div id="logout-text" class="red">
<p>
Activation rejected!
</p>
<a href="/" title="To Front page" class="red-link">To Front page</a>
</div>
    
</div>
</div>
{% endblock %}