{% extends "base.html" %}
{% block title %}Payment success{% endblock %}
{% block metadescription%}Payment successful{% endblock metadescription %}
{% block header %}
{% endblock %}
{% block content %}
{% load static %}
<div id="page-logout" class="page">
<div id="content" class="login-signup">
<div class="form-top">
<img src="{% static 'assets/css/images/game-icon.png' %}" alt="Logo" class="logo-form" />
<h1>World Games</h1>
</div>

<div id="logout-text">
<p>
Thank you! Your payment was successful!
</p>
<a href="/" title="To Front page">To Front page</a>
<br />
<a href="/game/{{gameid}}" title="To the Game" class="to-front-page">To Your game</a>
</div>
</div>
</div>
{% endblock %}
