{% extends "base.html" %}
{% block metadescription%}Sales Statistics{% endblock metadescription %}
{% block content %}
{% load static %}
<div id="page-statistics" class="page">
<div id="content" class="profile-settings">
<h1>{% block title %}Your sales statistics{% endblock %}</h1>
{% if purchasedict %}
    <h3>Your total profit: {{user.profile.profit}}</h3>
    <div id="stat-table">
        {% for game,list in purchasedict %}
        <div class="wrapper">
            <div class="wrapper-game-sales">
            <div class="stat-table game" id="test"><p><b>{{game.name}}</b></p></div>
            <div class="stat-table sales"><p>{{game.sales}} copies sold</p></div>
            </div>
            
            <div class="wrapper-price-time">
            {% for purchase in list %}
            <div class="table-clearfix clearfix">
                <div class="stat-table price"><p><b>Deal Price:</b>{{purchase.price}}</p></div>
                <div class="stat-table time"><p><b>Sold At</b> {{purchase.time}}</p></div>
            </div>
            {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>There are no sales yet. </p>
{% endif %}
</div>
</div>
{% endblock %}
